body  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-align : left;
	color : #000;
	background-color: #f2f2fc;
	margin:50px;
	padding:0;
	}
img {border : 0;}
h1, h2, h3, h4, h5, h6 {
	font-size : 17px;
	font-weight : bold;
	color : #0000cd;
	font-variant:small-caps;
	position:relative;/*
	top:-45px;*/
	background-color: #fff;
	padding:5px;
	border:1px solid #888;
margin-right:20px;
margin-left:20px;
	border:1px solid #888;
z-index:10;
    }
/* IE blows. This undoes the top hack above for real browsers that don't fuck up CSS. 	
head:first-child+body h1, head:first-child+body h2, head:first-child+body h3, head:first-child+body h4, head:first-child+body h5, head:first-child+body h6 {
	margin-top:-30px; 
	top:0;
	}
*/	
h2 {font-size : 16px;}
h3 {font-size : 15px;}
h4 {font-size : 14px;}
h5 {font-size : 13px;}
h6 {font-size : 12px;}
p, ul, table {clear:left;}
a, a:link, a:visited, a:hover, a:active {
	color : #0012ff;
	margin : 0;
	padding : 0;
	border-width : 0;
	}
a:visited {color : #0000cd;}
table {
	width:100%;
	padding:20px;
	}
td, th {
	font-size:11px;
	text-align:center;
	vertical-align:baseline;
	padding:5px;
	border:1px outset #aaa;
	}
th {
	background-color:#0000cd;
	color:#fff;
	font-weight : bold;
	}
.leftalign {text-align:left;}
.section {
	position:relative;
	top:-45px;
	border:1px dotted #bbb;
	background-color:#fff;
	margin:30px 0 0 0;
	padding:20px;
	}
.kit_description {
	position:relative;
	display:block;
	background-color:#f0f0f0;
	border-left:4px solid #ccc;
	border-top:1px dotted #ccc;
	}	