[core]
	fsyncObjectFiles = true
	whitespace = trailing-space,space-before-tab,cr-at-eol
	autocrlf = false
	filemode = false
	ignorecase = true
	commitGraph = false
[branch]
	autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[log]
	abbrevCommit = true
	decorate = short
[apply]
	ignoreWhitespace = change
[rerere]
	enabled = true
	autoUpdate = true
[am]
	threeWay = true
[http]
	sslVerify = false
[https]
	sslVerify = false
[pull]
	rebase = true
[credential]
	helper = manager
